---
import BrighterScriptTitle from '../../components/landing/BrighterScriptTitle.astro';
import BrighterScriptVerticalButton from '../../components/landing/BrighterScriptVerticalButton.astro';
import SingleLineCommand from '../../components/SingleLineCommand.astro';
import { companies } from './companies';

const hooks = [
    {
        title: 'The Modern Language You Needed',
        text: 'BrighterScript adds new features like namespaces, enums, and modern syntax improvements. Write less code, more efficiently.'
    },
    {
        title: 'A Result You Can Trust',
        text: 'BrighterScript compiles to native BrightScript. Run the compiled result on any Roku device. Source maps will point back to your original code when debugging.'
    },
    {
        title: 'Safety at Compile Time',
        text: 'The BrighterScript CLI will notify you of syntax errors and potential program crashes before your code even reaches the device.'
    }
];
---

<div
    id="brighterscript"
    class="flex flex-col justify-center items-center py-20">
    <p class="font-sans text-purple-dark text-lg sm:text-xl uppercase">
        The Roku Community presents
    </p>
    <BrighterScriptTitle title="BrighterScript" />

    <div
        class="flex flex-col lg:flex-row justify-evenly items-center w-full my-10">
        {
            hooks.map((feature) => (
                <div class="flex flex-col max-w-xs mb-8 lg:mb-0 px-4 lg:px-0">
                    <p class="font-sans text-purple-dark font-bold text-2xl">
                        {feature.title}
                    </p>
                    <p class="font-sans text-black text-2xl">{feature.text}</p>
                </div>
            ))
        }
    </div>

    <div class="my-4">
        <SingleLineCommand command="npm install brighterscript -g" />
    </div>

    <div
        class="flex flex-col lg:flex-row justify-evenly items-center w-full my-4">
        <BrighterScriptVerticalButton
            title="Language specification"
            href="https://github.com/rokucommunity/brighterscript/tree/master/docs#readme"
            iconUrl="/images/brighterscript-language-image.png"
        />
        <BrighterScriptVerticalButton
            title="Documentation"
            href="https://github.com/rokucommunity/brighterscript#readme"
            iconUrl="/images/brighterscript-docs-image.png"
        />
        <BrighterScriptVerticalButton
            title="Learn BrighterScript"
            disabled={true}
            smallText="(Coming soon)"
            iconUrl="/images/brighterscript-learn-image.png"
        />
    </div>

    <div class="my-4">
        <BrighterScriptTitle title="Trusted in production by industry giants" />
    </div>

    <div
        class="flex flex-row w-full max-w-screen-lg justify-evenly items-center my-4 flex-wrap">
        {
            companies.map((company) => (
                <a
                    class="my-4 mx-4"
                    href={company.href}
                    target="_blank"
                    rel="nofollow">
                    <img
                        class="max-w-[200px]"
                        src={company.img}
                        alt={company.alt}
                    />
                </a>
            ))
        }
    </div>
</div>
