---
import type { MDXInstance } from 'astro';
import GithubWhiteLogo from '../components/landing/GithubWhiteLogo.astro';
import SlackWhiteLogo from '../components/landing/SlackWhiteLogo.astro';
import WhatsNewHeadings from '../components/WhatsNewHeadings.astro';
import WhatsNewUpdates from '../components/WhatsNewUpdates.astro';
import Footer from './Footer.astro';
import './github-markdown.css';

export interface Props {
    title: string;
}

const { frontmatter } = Astro.props;

const allPosts = (await Astro.glob('/src/pages/whats-new/**/*.mdx'))
    // Exclude the readme and any .md files starting with "_".
    .filter(
        (p) =>
            !p.file.includes('readme.md') &&
            !p.file.split('/').pop()?.startsWith('_')
    )
    // Reverse to show last three posts
    .reverse();

const thisPost = allPosts.find(
    (p) => p.file === frontmatter.file
) as MDXInstance<Record<string, any>>;

// TODO: This interface is duplicated in WhatsNewUpdates.astro
// externalize into a .d.ts file
interface Post {
    title: string;
    url: string | undefined;
    isCurrent: boolean;
}
const posts = new Map<string, Post>();

for (const post of allPosts) {
    const fileArray = post.file.split('/');
    // Remove file name
    fileArray.pop();

    //add an empty year entry
    posts.set(post.frontmatter.date, {
        title: post.frontmatter.date,
        url: post.url!,
        isCurrent: thisPost.file === post.file
    });
}

const headings = thisPost?.getHeadings().filter((h) => h.depth < 3) ?? [];
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Roku Community {frontmatter.date}</title>
    </head>
    <body class="dark:bg-[#0D1117]">
        <div
            class="flex flex-row justify-between items-center bg-purple-dark p-7">
            <a href="/" class="text-2xl font-poppins text-white font-bold">
                Roku Community
            </a>
            <div class="flex flex-row">
                <div class="mr-8">
                    <SlackWhiteLogo />
                </div>
                <GithubWhiteLogo />
            </div>
        </div>
        <div class="flex flex-row">
            <WhatsNewUpdates posts={posts} _class="hidden lg:inline" />
            <div class="flex flex-col">
                <WhatsNewHeadings headings={headings} _class="lg:hidden" />
                <div class="markdown-body !mt-2 !mb-9 !lg:my-0">
                    <slot />
                </div>
                <WhatsNewUpdates posts={posts} _class="lg:hidden" />
            </div>
            <WhatsNewHeadings headings={headings} _class="hidden lg:inline" />
        </div>
        <Footer />
        <style>
            .markdown-body {
                box-sizing: border-box;
                min-width: 200px;
                max-width: 980px;
                padding: 45px;
            }

            @media (max-width: 767px) {
                .markdown-body {
                    padding: 15px;
                }
            }
            .hero-gradient {
                background: radial-gradient(
                    166.56% 296.11% at 1.84% 4.24%,
                    #581b98 5.71%,
                    #d600c0 100%
                );
            }
        </style>
    </body>
</html>
