---
import Layout from './Layout.astro';
import type { MDXInstance } from 'astro';
import GithubWhiteLogo from '../components/landing/GithubWhiteLogo.astro';
import SlackWhiteLogo from '../components/landing/SlackWhiteLogo.astro';
import WhatsNewHeadings from '../components/WhatsNewHeadings.astro';
import WhatsNewUpdates from '../components/WhatsNewUpdates.astro';
import './github-markdown.css';
import './style-overrides.css';

export interface Props {
    title: string;
}

const { frontmatter } = Astro.props;

const allPosts = (await Astro.glob('/src/pages/whats-new/**/*.md*'))
    // Exclude the readme and any .md files starting with "_".
    .filter(
        (p) =>
            !p.file.includes('readme.md') &&
            !p.file.split('/').pop()?.startsWith('_')
    )
    // Reverse to show last three posts
    .reverse();

const thisPost = allPosts.find(
    (p) => p.file === frontmatter.file
) as MDXInstance<Record<string, any>>;

// TODO: This interface is duplicated in WhatsNewUpdates.astro
// externalize into a .d.ts file
interface Post {
    title: string;
    url: string | undefined;
    isCurrent: boolean;
}
const posts = new Map<string, Post>();

for (const post of allPosts) {
    const fileArray = post.file.split('/');
    // Remove file name
    fileArray.pop();

    //add an empty year entry
    posts.set(post.frontmatter.date, {
        title: post.frontmatter.date,
        url: post.url,
        isCurrent: thisPost.file === post.file
    });
}

const headings = thisPost?.getHeadings().filter((h) => h.depth < 4) ?? [];
---

<Layout title={`${thisPost?.frontmatter?.date ?? ''} - What's New`}>
    <div class="dark:bg-[#0D1117]">
        <div
            class="flex flex-row justify-between items-center bg-purple-dark p-4">
            <a class="flex flex-row justify-center" href="/">
                <img
                    src="/images/logos/RokuCommunity.png"
                    style="height: 48px; max-width: 100%;"
                />
            </a>
            <div class="flex flex-row">
                <div class="mr-8">
                    <SlackWhiteLogo />
                </div>
                <GithubWhiteLogo />
            </div>
        </div>
        <div class="flex flex-row min-h-screen">
            <WhatsNewUpdates posts={posts} _class="hidden lg:inline" />
            <div class="flex flex-col">
                <WhatsNewHeadings headings={headings} _class="lg:hidden" />
                <div
                    class={`
                    markdown-body
                    !max-w-[100vw]
                    !mt-2
                    !mb-9
                    !lg:my-0
                    [&>h3]:!mt-8 [&>h3]:!mb-4
                    [&>ul]:list-disc
                    [&>p>img]:mt-4
                `}>
                    <slot />
                </div>
                <WhatsNewUpdates posts={posts} _class="lg:hidden" />
            </div>
            <WhatsNewHeadings headings={headings} _class="hidden lg:inline" />
        </div>
        <style>
            .markdown-body {
                box-sizing: border-box;
                min-width: 200px;
                max-width: 980px;
                padding: 45px;
            }

            @media (max-width: 767px) {
                .markdown-body {
                    padding: 15px;
                }
            }
            .hero-gradient {
                background: radial-gradient(
                    166.56% 296.11% at 1.84% 4.24%,
                    #581b98 5.71%,
                    #d600c0 100%
                );
            }
        </style>
        <script>
            const linkSvg = `
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    aria-hidden="true"
                    focusable="false"
                    stroke-width="1" stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round">
                        <path d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z">
                </svg>
            `;

            [
                ...document.querySelectorAll<HTMLElement>(
                    'h1, h2, h3, h4, h5, h6'
                )
            ].forEach((heading) => {
                const anchor = document.createElement('a');
                anchor.style.color = 'inherit';
                anchor.className = 'group relative cursor-pointer';
                anchor.href = `#${heading.id}`;
                heading.parentNode!.insertBefore(anchor, heading);

                const linkIconWrapper = document.createElement('div');
                console.log(
                    heading.scrollHeight,
                    heading.clientHeight,
                    heading.offsetHeight
                );
                Object.assign(linkIconWrapper.style, {
                    width: '15px',
                    height: '10px',
                    position: 'absolute',
                    left: '-24px',
                    top: (heading.clientHeight - 15) / 2 + 'px'
                });
                heading.prepend(linkIconWrapper);
                linkIconWrapper.className = 'hidden group-hover:block';

                linkIconWrapper.innerHTML = linkSvg;
                anchor.appendChild(heading);
            });
        </script>
    </div>
</Layout>
